.product-card{
    border: 1px solid gray;
    background-color: aquamarine;
    box-shadow: 5px 5px 10px black;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding: 1rem;
}